  <!-- ********** CONTENIDO -->
  <div id="index_cont">
  	<div class="contenedor">

  		<div id="satelite">
  			<img src="/assets/img/satelite.svg" alt="Satelite">
  		</div>
  		<img class="estrellas" src="/assets/img/estrellas1.svg" alt="Estrellas">
  		<img class="estrellas b" src="/assets/img/estrellas2.svg" alt="Estrellas">
  		<img id="cohete" 	src="/assets/img/cohete.svg" alt="Cohete">
  		<img id="asteroide" src="/assets/img/asteroide.svg" alt="Asteroide">
  		<img id="planeta" src="/assets/img/planeta.svg" alt="Planeta">
  		
  	</div>    
  </div><!-- /. CONTENIDO -->
  