/******************************
ESTILOS FOOTER: footer.css;
*******************************/
#footer {
	background: var(--gray-ligth-color);
	bottom: 0;
	padding: 1rem 0 .5rem 0;
	position: fixed;
	width: 100%;
	line-height: 1	
}

/* /.ESTILOS FOOTER */