/******************************
ESTILOS CONTENIDO: index_cont.css;
*******************************/
#index_cont {
	& .contenedor {
		background-color: #1b2a3a;
		display: flex;
		justify-content: center;
		height: 89vh;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	& #asteroide {
		bottom: -81%;
		position: absolute;
		z-index: 5;
	}
	& #cohete {
		animation-duration: 5s;
		animation-fill-mode: forwards;
		animation-name: cohete;
		height: 25rem;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 13rem;
		z-index: 6;

		& #cohete-cont {
			position: relative;

			& #nave {
			height: 25rem;
			width: auto;
			position: absolute;
			z-index: 7;			
			}
			& #llama {
			animation: 5s llama;
			animation-fill-mode: forwards;
			bottom: -26.5rem;			
			height: auto;
			position: absolute;
			width: 2.7rem;
			z-index: 6;
			transition: 0s linear;
			}			
		}

	}
	#llama {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 7;

	}

	& .estrellas {
		animation: 1s estrellas infinite;
		height: 85vh;
		position: absolute;
		width: auto;
		z-index: 1;

		&.b {
			animation-delay: .6s;
		}
	}

	& #planeta {
		animation: 180s movimiento2 linear;
		animation-fill-mode: forwards;
		height: 85rem;
		width: auto;
		position: absolute;
		z-index: 2;
	}

	& #satelite {
		animation: 40s movimiento1 infinite linear;
		position: absolute;
		z-index: 3;

		& img {
			height: auto;
			width: 10rem;
		}
	}

	.superh1 {
		animation-name: superh1;
		animation-direction: alternate;
		animation-duration: 60s;
		animation-iteration-count: infinite;
		color: var(--white-color);
		font-size: responsive 5rem 10rem;
		margin-top: 5vh;
	}
}

/* /.ESTILOS CONTENIDO */